<%-include("../layout/adminheader.ejs")-%>
<%-include("../layout/admincentre.ejs")-%>
<%-include("../partials/adminnavbar.ejs")-%>
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <section style="width: 450px; height: 300px;border: 1px solid black;border-radius: 10px;">
        <form action="/admin/addcatagory" method="post">
            <div class="d-flex justify-content-center align-items-center" style="height: 100px;border-radius:10px 10px 0 0;background-color: rgb(82, 82, 82);">
                <h4 style="color: white;">Add Catagory</h4>
            </div>
            <div class="d-flex justify-content-center align-items-center" style="height: 60px;border-radius:10px 10px 0 0;">
                <h5><strong>Enter Catagory</strong></h5>
            </div>
            <div class="d-flex justify-content-center align-items-center" style="height: 40px;border-radius:10px 10px 0 0;">
                <input type="text" name="catagoryname" required>
            </div>
            <div class="d-flex justify-content-center align-items-center" style="height: 80px;">
                <button style="border-radius: 5px;width: 100px;height: 60px;color: white; background-color: rgb(103, 103, 103);">Add Catagory</button>
            </div>
        </form>
    </section>
</div>

<%-include("../layout/adminfooter.ejs")-%>