<%-include("../layout/adminheader.ejs")-%>
<%-include("../layout/admincentre.ejs")-%>
<%-include("../partials/adminnavbar.ejs")-%>
<div class="container" style="margin-top: 80px;">
    <div class="row">
        <div class="col-md-12">
            <a href="/admin" class="m-5" style="text-decoration:wavy;color: black;font-size: 22px;font-weight: bold;">DASHBOARD</a>
            <a class="btn  float-end m-3" style="background-color: blue !important; color: white;"><small><i class="bi bi-download pe-2" ></i>Sales Report</small></a>
        </div>
    </div>
</div>
<%-include("../layout/adminfooter.ejs")-%>