<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav{
    position: fixed;
    top:0;
    left: 0;
    height: 70px;
    width:100%;
    display:flex ;
    align-items: center;
    background-color: #8fe66a;
    box-shadow: 0 8 1px rgba(8,0,0,0.1);
}
nav .logo{
    display: flex;
    align-items: center;
    margin: 0 24px;
}
.logo .menu-icon{
    color: #333;
    font-size:24px;
    margin-right: 14px;
    cursor: pointer;
}
.logo .logo-name{
    color:#333;
    font-size: 22px;
    font-weight: 500;
}
nav .sidebar{
    position: fixed;
    top: 0%;
    left: -100%;
    height: 100%;
    width: 240px;
    padding: 20px 0;
    color: #fff;
    background-color: black;
    box-shadow: 0  5px 10px rgba(0,0,0,0.1);
    transition: all 0.4s ease;
}
nav.open .sidebar{
    left: 0;
}

.sidebar .sidebar-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding:30px 16px ;
}
.sidebar-content .list{
    list-style-type: none;
}
.list .nav-link{
    display: flex;
    align-items: center;
    padding: 14px 12px;
    border-radius: 8px;
    text-decoration: none;
}
.nav-link:hover{
    background-color: gray;
}
.nav-link .icons{
    margin-right: 14px;
    font-size: 20px;
}
.nav-link .link{
    font-size: 16px;
    font-weight: 400;
}
.nav-link:hover .icons,
.nav-link:hover .link{
    color: black;
}
.overlay{
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}
nav.open ~.overlay{
    opacity: 1;
    left:240px;
    pointer-events: auto;
}
.icons{
    margin-right: 100px;
    font-size: 20px;
    font-weight:500;
}
.profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
</style>
<nav>
    <div class="logo col-div-4">
            <i class="bi bi-list menu-icon" id="menu"></i>
            <span class="logo-name">YUMI TEES</span>
    </div>
    <div class="col-div-4">

    </div>
    <div class="col-div-4 icons ms-auto">
        <i class="bi bi-three-dots-vertical pe-5"></i>
        <i class="bi bi-bell pe-5"></i>
        <img class="profile" src="/assets/imgc.jpg" alt="">
    </div>  
    <div class="sidebar" ">
        <div class="logo ">
            <i class="bi bi-list menu-icon" id="menuclose" style="color: #fff;"></i>
            <img src="/assets/logoblack.png" style="width: 100px;" class="ms-3" alt="">
        </div>
        <div class="sidebar-content">
            <ul class="lists">
                <li class="list">
                    <a href="/admin" class="nav-link">
                        <i class="bi bi-house-door icons"></i>
                        <span class="link">Dashboard</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/admin/Product" class="nav-link">
                        <i class="bi bi-border-all icons"></i>
                        <span class="link">Products</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/admin/category" class="nav-link">
                        <i class="bi bi-gear-wide-connected icons"></i>
                        <span class="link">Categories</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/admin/Customers" class="nav-link">
                        <i class="bi bi-collection-fill icons"></i>
                        <span class="link">Customers</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/admin/orders" class="nav-link">
                        <i class="bi bi-cart icons"></i>
                        <span class="link">Orders</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/admin/coupons" class="nav-link">
                        <i class="bi bi-cash-coin icons"></i>
                        <span class="link">Coupons</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/admin/banner" class="nav-link">
                        <i class="bi bi-card-image icons"></i>
                        <span class="link">Banner</span>
                    </a>
                </li>
                <li class="list">
                    <a href="" class="nav-link">
                        <i class="bi bi-wallet icons"></i>
                        <span class="link">Payments</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/admin/logout" class="nav-link">
                        <i class="bi bi-box-arrow-left icons"></i>
                        <span class="link">Logout</span>
                    </a>
                </li>
           
                
            </ul>       
        </div>
    </div>
</nav>
<section class="overlay"></section>
<script>
    const navBar = document.querySelector("nav"),
    menuBtns = document.querySelectorAll(".menu-icon"),
    overlay = document.querySelector(".overlay");
   
    menuBtns.forEach((menuBtn) => {
        menuBtn.addEventListener("click", () => {
            navBar.classList.toggle("open");
        })
    })

    overlay.addEventListener("click", () => {
        navBar.classList.toggle("open");
    })


</script>