<style>
.nav-item{
  padding: 8px;
}
.body{
  margin: 0;
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: black;">
  <div class="container-fluid">
    <a class="navbar-brand ms-4" href="#">
      <img src="/assets/mainlogo1.jpeg"  alt="" width="80" height="55">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex ms-auto me-2">
          <input class="form-control me-0" style="border-radius:0;border-start-start-radius: 18px;border-end-start-radius: 18px;width: 100%;" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success ms-0" style="border-radius: 0 ;border-end-end-radius: 18px;border-start-end-radius: 18px;" type="submit"><i class="bi bi-send"></i></button>
      </form>   
        <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">MEN's</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">WOMEN's</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">KID's</a>
          </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/login"><i class="bi bi-bag-heart" style="color: #ffffff;cursor: pointer;font-size: 20px;margin-top: -20px;"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/login"><i class="bi bi-cart4" style="color: #ffffff;cursor: pointer;font-size: 20px;"></i></a>
        </li>
        <li class="nav-item dropdown " >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;"> 
            LOGIN <i class="bi bi-person-circle"></i></a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="d-flex ps-2" ><a style="text-decoration: none;color: black;" href="/login">Login</a><h6>/</h6>
              <a style="text-decoration: none;color: black;" href="/Signup">SignUp</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Orders</a></li>
            <li><a class="dropdown-item" href="#">Whishlist</a></li>
            <li><a class="dropdown-item" href="#">Coupons</a></li>
          </ul>
        </li>

      </ul>
          
      </div>
    </div>
  </nav>