<style>
  .dropdown-item:hover{
    background-color: rgba(206, 200, 200, 0.856);
  }
  body{
    margin-top: 0;
  }
  .nav-item{
    padding: 8px;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black; position: fixed; width: 100%; z-index: 1000;top: 0px;">
  <div class="container-fluid">
      <a class="navbar-brand ms-4" href="#">
          <img src="/assets/logoblack.png" alt="" width="80" height="55">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="d-flex me-auto ms-5 ">
              <input class="form-control me-0" style="border-radius:0;border-start-start-radius: 18px;border-end-start-radius: 18px;width: 100%;" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-success ms-0" style="border-radius: 0 ;border-end-end-radius: 18px;border-start-end-radius: 18px;" type="submit"><i class="bi bi-send"></i></button>
          </form>
          <div class="d-flex align-items-center float-end">
          <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0 ">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/guest">HOME</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/login">MEN's</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/login">WOMEN's</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/login">KID's</a>
              </li>
              <li class="nav-item "><a class="nav-link active" aria-current="page" href="/login">
               
                    <div class="cart position-relative">
                    <i class="bi bi-bag-heart" style="color: #ffffff;cursor: pointer;font-size: 20px;margin-top: -20px;"></i>
                    </div>
                  </a>
              </li>
              <li class="nav-item ">
                   <a class="nav-link active" aria-current="page" href="/cart">
                      <% if (cart != undefined && cart!=0) { %>
                      <div class="cart position-relative">
                          <span class="count" style="position: absolute;
                                margin-left: 10px;
                                z-index: 2;
                                font-size: 11px;
                                border-radius: 50%;
                                background: #d60b28;
                                width: 16px;
                                height: 16px;
                                line-height:16px;
                                display: block;
                                text-align: center;
                                color: white;
                                font-family: 'Roboto', sans-serif;
                                font-weight: bold;"><%= cart %></span>
                          <!--   <span class="count">1</span> -->
                          <i class="bi bi-cart4" style="color: #ffffff; cursor: pointer;font-size: 20px;"></i>
                      </div>
                      <% } else { %>
                        <div class="cart position-relative">
                      <i class="bi bi-cart4" style="color: #ffffff;cursor: pointer;font-size: 20px;"></i>
                        </div>
                      <% } %>
                  </a>
              </li>
              <li class="nav-item dropdown ">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;"></i>
                    MY ACCOUNTS <i class="bi bi-person-circle"></i></a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li class="d-flex">Hello <%=username%> </li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/profile">My profile</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/allproduct">ALL PRODUCTS</a></li>
                      <li><a class="dropdown-item" href="/userorder">ORDERS</a></li>
                      <li><a class="dropdown-item" href="#">WHISHLIST</a></li>
                      <li><a class="dropdown-item" href="#">CUOPONS</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/logout">Logout<i class="bi bi-box-arrow-left"></i></a></li>
                  </ul>
              </li>
          </ul>
          </div>
      </div>
  </div>
</nav>
