<style>
  .dropdown-item:hover{
    background-color: rgba(206, 200, 200, 0.856);
  }
  body{
    margin-top: 0;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black; position: fixed; width: 100%; z-index: 1000;top: 0px;">
    <div class="container-fluid">
      <a class="navbar-brand ms-4" href="#">
        <img src="/assets/logoblack.png"  alt="" width="80" height="55">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="d-flex ms-auto me-2">
            <input class="form-control me-0" style="border-radius:0;border-start-start-radius: 18px;border-end-start-radius: 18px;width: 400px;" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success ms-0" style="border-radius: 0 ;border-end-end-radius: 18px;border-start-end-radius: 18px;" type="submit"><i class="bi bi-send"></i></button>
        </form>   
          <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0">
            
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/guest">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/login">MEN's</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/login">WOMEN's</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/login">KID's</a>
            </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login"><i class="bi bi-bag-heart-fill"></i> whishlist(0)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/cart"><i class="bi bi-cart2"></i> cart(<%=cart%>)</a>
          </li>
          <li class="nav-item dropdown " >
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;"></i> 
              profile  <i class="bi bi-person-circle"></i></a>
            <ul class="dropdown-menu"  aria-labelledby="navbarDropdown">
              <li class="d-flex"  >Hello <%=username%> </li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/profile">My profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/allproduct">ALL PRODUCTS</a></li>
              <li><a class="dropdown-item" href="#">ORDERS</a></li>
              <li><a class="dropdown-item" href="#">WHISHLIST</a></li>
              <li><a class="dropdown-item" href="#">CUOPONS</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Logout<i class="bi bi-box-arrow-left"></i></a></li>
            </ul>
          </li>
  
        </ul>
            
        </div>
      </div>
    </nav>