<%-include("../layout/userheader.ejs")-%>
<%-include("../layout/usercentre.ejs")-%>
<style>
    .gradient-custom-3 {
/* fallback for old browsers */
background: #84fab0;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}
.gradient-custom-4 {
/* fallback for old browsers */
background: #84fab0;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}
u{
    color: blue;
}
</style>
<section class=" bg-image "
  style="background-image: url('assets/bgtheme.jpg');background-repeat: no-repeat;background-size: cover;">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card pt-2" style="border-radius: 15px;color: white; background-color: black;">
            <div class="card-body ">
                <div class="justify-content-center align-items-center d-flex">
                    <a href="/guest"><img src="assets/logoblack.png" style="width:100px;" alt=""></a>
                </div>
              <h2 class="text-uppercase text-center mb-2">Create an account</h2>

              <form action="/signup" method="post">
                <input type="hidden" value="1" name="status">
                <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1cg">Your Name</label>
                <input type="text" id="name" name="name" placeholder="Enter your name" class="form-control form-control-lg" />
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1cg">Your Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter your E-mail" class="form-control form-control-lg"  />
                  <span id="email-err" class="error"></span>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1cg">Password</label>
                  <input type="password" id="password" name="password" placeholder="Enter your password" class="form-control form-control-lg"  />
                   <span id="pass-err" class="error"></span>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg">Confirm password</label>
                  <input type="password" id="confirm-password" placeholder="Repeat your password" class="form-control form-control-lg" />                
                </div>

                <div class="form-check d-flex justify-content-center mb-3">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Sign Up</button>
                </div>

                <h6 class="text-center mt-3 mb-2">Have already an account? <a href="/login"
                    class="fw-bold text-body"><u>Login here</u></a></h6>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  const email = document.getElementById('email')
  const password = document.getElementById('password')
  const confirmPassword = document.getElementById('confirm-password');
  const name = document.getElementById('name')

  name.addEventListener('input', validateform)
  email.addEventListener('input', validateform);
  password.addEventListener('input', validateform);
  confirmPassword.addEventListener('input', validateform);

  function validateform(){
    var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    const passwordPattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+}{"':;?/.,<>])(?=.*[^\d\w]).{8,}$/;
    name.setCustomValidity('')
    email.setCustomValidity('')
    password.setCustomValidity('')
    confirmPassword.setCustomValidity('')
  
    if(name.value.trim() === ''){
      name.setCustomValidity('Fields cannot contain only spaces. Please enter valid values.')
    }
    else if(!/^[a-zA-Z\s]+$/.test(name.value)){
      name.setCustomValidity('Fields cannot contain numbers and symbols. Please enter valid values.')
    }
    else if(!emailPattern.test(email.value)){
      email.setCustomValidity('Please enter a valid email address')
    }
    else if(password.value.length<8){
      password.setCustomValidity('Password must be at least 8 characters')
    }
    else if(!passwordPattern.test(password.value)){
      password.setCustomValidity('Password must contain at least one number, one lowercase letter, one uppercase letter, one special character, and be at least 8 characters long.')
    }
    else if(confirmPassword.value !== password.value){
      confirmPassword.setCustomValidity('Passwords do not match.')
    }
    else{
      name.setCustomValidity('')
      email.setCustomValidity('')
      password.setCustomValidity('')
      confirmPassword.setCustomValidity('')
    }
  }    
</script>

<%-include("../layout/userfooter.ejs")-%>
